<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
<div class="jumbotron section">
  <h1 class="display-4">Tech Camp Dhaka 2018!</h1>
  <p class="lead">Empowering youth with technology to promote resposible use of social media.</p>
  <hr class="my-4">
  <p>Feb 10-11, 2018.</p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a>
  </p>
</div>
<div class="card">
  <img class="card-img-top" src="">
  <div class="card-body">
    <h5 class="card-title">Example Web Apps</h5>
    <p class="card-text">Anti-Bully ChatBot</p>
    <a href="https://anti-bully-3a6b4.firebaseapp.com/" class="btn btn-primary">Demo</a>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="">
  <div class="card-body">
    <h5 class="card-title">How to build apps</h5>
    <p class="card-text">Quick starter</p>
    <a href="https://github.com/saadbinamjad/techcamp-dhaka-2018" class="btn btn-primary ">GitHub</a>
  </div>
</div>
<nav aria-label="breadcrumb card-footer">
  <div class="card-footer text-center">
    Developer: @saadbinamjad
  </div>
</nav>